<div class="view overlay">
        <a href="{{ $userPhoto->image_URL }}" data-toggle="modal"
            data-target="#modal-{{ $userPhoto->photo_id }}">
            <img class="card-img-top rounded-0" src="{{ $userPhoto->image_URL }}"
                alt="{{ $userPhoto->image_title }}">
        </a>
        <!-- Modal -->
        <div class="modal fade bd-example-modal-lg" id="modal-{{ $userPhoto->photo_id }}" tabindex="-1"
            role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="{{ URL::asset($userPhoto->image_URL) }}">
                            <img src="{{URL::asset($userPhoto->user_photo)}}" class="rounded-circle mr-3"
                                height="50" width="50" alt="avatar">
                        </a>
                        <h5 class="modal-title">{{ $userPhoto->image_title }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body modalBodyGallery">
                        <img class="card-img-top rounded-0" src="{{ $userPhoto->image_URL }}"
                            alt="{{ $userPhoto->image_title }}">
                    </div>

                    <div class="modal-footer modalFooterGallery">
                        <div class="col modal-description">
                            {{ $userPhoto->image_description }}
                        </div>
                        <div class="col modal-icons">
                            <ul>
                                <li>
                                    {{-- code to implement like /unlike functionality in page --}}
                                    @if (Auth::check())
                                    @php
                                    $like = App\Like::where('photo_id',
                                    $userPhoto->photo_id)->where('user_id',
                                    Auth::user()->user_id)->first();
                                    @endphp
                                    @if ($like)
                                    {{-- Does a "like" exist in the table for this user, photo? --}}
                                    @if ($like->islike)
                                    {{-- If so is it a like? --}}
                                    <div class="liked" id="{{$userPhoto->photo_id}}">
                                        @csrf
                                        <i class="fas fa-heart"></i>
                                        <span class="likes-number">{{ $userPhoto->likes_sum }}</span>
                                    </div>
                                    @else
                                    <!-- Else is it currently a report? -->
                                    <div class="not-liked" id="{{$userPhoto->photo_id}}">
                                        @csrf
                                        <i class="far fa-heart"></i>
                                        <span class="likes-number">{{ $userPhoto->likes_sum }}</span>
                                    </div>
                                    @endif
                                    @else
                                    <!-- Or else there isn't a like in the table i.e. not liked or reported -->
                                    <div class="not-liked" id="{{$userPhoto->photo_id}}">
                                        @csrf
                                        <i class="far fa-heart"></i>
                                        <span class="likes-number">{{ $userPhoto->likes_sum }}</span>
                                    </div>
                                    @endif
                                    @else
                                    <!-- finally, if the user is not logged on the like/report functionality is not enabled -->
                                    <div class="not-logged">
                                        <i class="far fa-heart"></i>
                                        <span>{{ $userPhoto->likes_sum }}</span>
                                    </div>
                                    @endif
                                </li>
                                <li>
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span>{{ $userPhoto->locality_name }}</span>
                                </li>
                                <li>
                                    <i class="{{$userPhoto->category_icon}}">
                                    </i>
                                    <span class="text-capitalize">{{ $userPhoto->category_name }}</span>
                                </li>
                                <li>
                                    <!-- code to implement report functionality in page -->
                                    @if (Auth::check())
                                    @php
                                    $like = App\Like::where('photo_id' ,
                                    $userPhoto->photo_id)->where('user_id' ,
                                    Auth::user()->user_id)->first();
                                    @endphp
                                    @if ($like)
                                    <!-- Does a "like" exist in the table for this user, photo? -->
                                    @if (!($like->islike))
                                    <!-- If so is it a report? -->
                                    <div class="reported" id="0{{$userPhoto->photo_id}}">
                                        @csrf
                                        <i class="fas fa-flag"></i>
                                        <!-- the show/hide of the spans are toggled by JS -->
                                        <span class="rep-text">Reported</span><span
                                            class="rep-text hide">Report</span>
                                    </div>
                                    @else
                                    <!-- Else is it currently a like? -->
                                    <div class="not-reported" id="0{{$userPhoto->photo_id}}">
                                        @csrf
                                        <i class="far fa-flag"></i>
                                        <span class="rep-text">Report</span>
                                        <span class="rep-text hide">Reported</span>
                                    </div>
                                    @endif
                                    @else
                                    <!-- Or else there isn't a like in the table i.e. not liked or reported -->
                                    <div class="not-reported" id="0{{$userPhoto->photo_id}}">
                                        @csrf
                                        <i class="far fa-flag"></i>
                                        <span class="rep-text">Report</span><span
                                            class="rep-text hide">Reported</span>
                                    </div>
                                    @endif
                                    @endif
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
