<div class="container">
    <div class="row">
        @foreach ($topUsers as $topUser)
        @php
        $userId = $topUser->user_id;
        $user = App\User::where('user_id', $userId)->first();
        $path = URL::asset($user->user_photo);
        @endphp
        <div class="col-sm">
            <h6 class="card-title font-weight-bold mb-2 text-capitalize">{{ $user->name }}</h6>
            <div class="view overlay">
                <a href="/userprofile/{{$user->user_id}}">
                    <img src="{{$path}}" class="rounded-circle img-thumbnail" alt="{{ $user->name }}">
                </a>
            </div>
            <p class="card-text text-capitalize">
                <small>{{ str_limit($user->user_description, 90, '...') }}</small>
            </p>
            <p class="card-text"><small class="text-muted">Has posted {{$topUser->total_photos}} photos</small>
            </p>
        </div>
        @endforeach
    </div>
</div>
