@charset "UTF-8";

body {
    width: 100%;
    height: 100%;
    position: relative;
    background: #252323;
    color: white;
}

.container {
    margin-top: 100px;
}


/* Registration password validation*/
ul,
li {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.label-password {
    position: relative;
}
#pswd_info {
    position: absolute;
    z-index: 1;
    top: 116%;
    right: 50%;
    transform: translateX(50%);
    width: 250px;
    padding: 15px;
    background: #fefefe;
    font-size: 0.875em;
    border-radius: 5px;
    box-shadow: 0 1px 3px #ccc;
    border: 1px solid #ddd;
}
@media screen and (min-width: 765px) {
    #pswd_info {
        right: 42%;
        top: 120%;
    }
}
#pswd_info h4 {
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: normal;
}

#pswd_info::before {
    content: "\25B2";
    /* triangle pointu en haut de la div */
    position: absolute;
    top: -12px;
    left: 45%;
    font-size: 14px;
    line-height: 14px;
    color: #ddd;
    text-shadow: none;
    display: block;
}

.invalid {
    background: url(../images/invalid.png) no-repeat 0 50%;
    padding-left: 22px;
    line-height: 24px;
    color: #ec3f41;
}

.valid {
    background: url(../images/valid.png) no-repeat 0 50%;
    padding-left: 22px;
    line-height: 24px;
    color: #3a7d34;
}

#pswd_info {
    display: none;
}
/* End of the Registration password validation*/

/* Home Page Styles */

h1 {
    margin: 0.3em 0em;
}

#blurb {
    margin: 0.5em 0em;
}

.liked:hover {
    background-color: lightgrey;
}

.not-liked:hover {
    background-color: lightgrey;
}
#home_page, #latest_photos{
    min-height: 80vh;
    width: 100%;
}
#rated_photos, #top_photographers{
    min-height: 100vh;
    width: 100%;
}
#rated_photos h3{
    margin-top: 2rem;
}
#home_page{
background-image: url(http://luxembourg.public.lu/pictures/gallery/photos-telechargeables/02-ville-luxembourg/003-vdl-grund-224431-xxxhdpi.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 100vh;
margin-top:2rem;
}
#home_page h1{
    position: relative;
    display: block;
    max-width: max-content;
    top:10rem;
    left: 20%;
    background-color: rgba(119, 136, 153, 0.411);
}
@media screen and (max-width:800px){
    #home_page h1
    {
        max-width: 250px;
        left: 50%;
        transform: translateX(-50%);
        top:5rem;
        text-align: center;
        background-color: unset;
    }
}
@media screen and (min-width:768px) and (max-width:995px){
.card-deck .card{
flex:1 40% !important;
}
}
@media screen and (min-width:556px) and (max-width:768px){
    .card-deck .card{
    flex: 1 1 auto !important;
    }
    }
/* End of Home Page Styles */

/* User Profile Styles */
.add {
    font-size: 1.5rem;
}
.card-user {
    margin-bottom: 1rem;
}
.profile-flex {
    margin: 1rem 1rem;
    display: flex;
    align-items: center;
}
.edit-photo {
    text-align: center;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: min-content;
    margin-right: 1.5rem;
}
.edit-photo img {
    height: 150px;
    max-width: 150px;
}
.edit-photo button {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    opacity: 0.97;
}

.form-flex-profile {
    display: flex;
    flex-wrap: wrap;
}
.flex-div {
    display: flex;
}
@media screen and (max-width: 775px) {
    .flex-div {
        display: initial;
    }
}
.user-details-flex {
    width: 50%;
}
.profile-field {
    width: max-content !important;
    margin-left: 0.5rem;
}

.errors {
    width: max-content !important;
    z-index: 2 !important;
}

.card-user {
    position: relative;
}
.send-msg-card {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.shadow-div {
    position: absolute;
    background-color: rgba(236, 236, 236, 0.747);
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#showNewPhoto {
    width: 250px;
    height: 250px;
    text-align: center;
}
#showNewPhoto img {
    width: 100%;
    height: 100%;
}
.hide {
    display: none !important;
}

/* Enf of User Profile Styles */

/* Gallery Styles */

.gallery {
    padding: 0 15px;
}

.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border: 0;
    font-weight: 400;
}

/* Filters Form Styles */

.filters {
    padding: 15px 0;
}

/* fancybox Form Styles */
.fancybox-caption {
    padding: 0 !important;
}

.fancybox-caption__body {
  /*  padding: 10px;*/
    color: #252323;
    background-color: white;
}
.fancybox-caption__body li {
   color: #252323;
   /* padding: 10px;*/
}

/* Footer */

.footer {
   width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
    padding-right: 15px;
    padding-left: 15px;
}
.footer p{
margin-bottom: 0;
}
/* Pagination Styles */

.pagination {
    padding: 10px;
    justify-content: center;
}

/* About Us */
.fa-github-square {
    color: black;
}
